<p>task-form works!</p>
<form>
    <h1> Create a New Task! </h1>
    <!-- Title -->
     <div>
        <h4>Title:</h4>
        <input [(ngModel)]="taskTitle">
     </div>
    <!-- Description -->
     <div>
        <p>Description:</p>
        <input [(ngModel)]="taskDescription">
     </div>
    <!-- Priority toggle -->
     <!-- make them radio buttons and have the color be the button if possible or have the picture be the clickable item here -->
     <div>
        <p>Priority:</p>
        <div>
            <input [(ngModel)]="taskPriority" value="low" type="radio">
        </div>
        <div>
            <input [(ngModel)]="taskPriority" value="medium" type="radio">
        </div>
        <div>
            <input [(ngModel)]="taskPriority" value="high" type="radio">
        </div>
     </div>

     <!-- Due Date input -->
     <!-- make them radio buttons and have the color be the button if possible or have the picture be the clickable item here -->
     <div>
        <label>Due Date:</label>
        <input [(ngModel)]="taskDueDate" type="date">
     </div>

     <div>
        <button (submit)="createTask()" type="submit">Create this Task</button>
     </div>

     <!-- tags input -->
     <div>
        <p>Tags: </p>
        <!-- Show list og tag if there are any -->
        <div *ngIf="tags.length > 0">
            <ul *ngFor="let tag of tags; let i = index">
                <li key = i>
                    <!-- tag css -->
                    <div>
                        <p>[{{tag}}]</p>
                    </div>
                </li>
            </ul>
        </div>
        <input type="text" placeholder="Tag" [(ngModel)]="tag">
        <button type="submit" (submit)="submitTag"></button>
     </div>
    
</form>